body {
  background-color: var(--primary);
  color: white;
}

/* WELCOME-PAGE */
.welcome-page .wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;

  height: 100vh;
  width: 90%;

  padding-bottom: 6rem;
}

.content {
  display: flex;
  flex-direction: column;
}

header h1,
header p {
  margin-bottom: 2.5rem;
}

header h1 {
  font-size: 4.5rem;
  line-height: 5.3rem;

  width: 75%;
}

header p {
  line-height: 2.4rem;
}

#signup {
  display: block;

  padding-block: 1rem;

  font-size: 2rem;
  text-align: center;
  color: var(--primary);
  font-weight: 500;

  background-color: white;
  border-radius: 0.5rem;
}

.login {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: 4rem;
}

.login p {
  color: var(--gray);
}

.login a {
  color: white;
  font-weight: 500;
}

@media (min-width: 1024px) {
  body {
    color: black;
    background-color: white;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .photos {
    margin-right: 10rem;
    margin-block: 5rem 0;
  }

  .photos,
  .content {
    grid-row: span 2;
  }

  .content {
    align-self: center;
    justify-self: center;
    padding-left: 6rem;
  }

  #signup {
    color: white;
    background-color: var(--primary);
  }

  .login p {
    color: black;
  }

  .login a {
    color: var(--primary);
  }
}
